<document>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->   <head>
        {% load static %}
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <script src="{% static "js/jquery-3.2.1.min.js" %}" charset="UTF-8"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}" charset="UTF-8"></script>
    </head>

    <body>

        <form action="/new" style="display: inline">
            <input type="submit" value="新建" class="btn btn-primary btn-lg" rows="5"/>
        </form>

        <form action="/export" style="display: inline">
            <input type="submit" value="导出" class="btn btn-primary btn-lg" rows="5"/>
        </form>

        <form action="/export_win" style="display: inline">
            <input type="submit" value="windows导出" class="btn btn-primary btn-lg" rows="5"/>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <td>用户名</td>
                    <td>数量（斤）</td>

                    <td>
                        <select onchange="pay_change_function(this.value)">
                            <option value="all">支付状态</option>
                            <option value="yes">已付</option>
                            <option value="no">未付</option>
                        </select>
                    </td>
                    
                    <td>
                        <select onchange="take_change_function(this.value)">
                            <option value="all">取货状态</option>
                            <option value="yes">已取</option>
                            <option value="no">未取</option>
                        </select>
                    </td>

                    <td>备注</td>
                    <td>修改</td>
                    <td>删除</td>

                </tr>
            </thead>

            <tbody id="table_body">
                {% for u in user %}
                <tr id="{{u.id}}">
                    <td id="{{u.id}}-name">{{u.name}}</td>
                    <td id="{{u.id}}-count">{{u.count}}</td>
                    <td id="{{u.id}}-pay_state">{{u.pay_state}}</td>
                    <td id="{{u.id}}-take">{{u.take}}</td>
                    <td id="{{u.id}}-desc">{{u.desc}}</td>

                    <td><button class="btn btn-primary btn-lg" onclick="modify_button_click(this)">修改</button></td>
                    <td><button class="btn btn-primary btn-lg" onclick="delete_button_click(this)">删除</button></td>
                </tr>
                {% endfor %}        
            </tbody>
        </table>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改</h4>
                    </div>

                    <div class="modal-body">
                        <table>
                            <tbody>
                                <td>
                                    Username: <input type="text" id="template-name"><br>
                                    Count: <input type="text" id="template-count"><br>

                                    pay_state: <select id="template-pay_state">
                                    <option value="yes">yes</option>
                                    <option value="no" selected="selected">no</option>
                                    </select><br>

                                    take: <select id="template-take">
                                        <option value="yes">yes</option>
                                        <option value="no" selected="selected">no</option>
                                    </select><br>
                                    Description: <input type="text" id="template-desc"><br>

                                </td>
                            </tbody>
                        </table>

                        
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="post_modify_data()">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </body>

    <script>

     {% autoescape off %}
     var guser = {{ guser }};
     {% endautoescape %}

     // using jQuery
     function getCookie(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie !== '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = jQuery.trim(cookies[i]);
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) === (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
     }

     function post_modify_data(){
         template = $('#modify_user_template');
         name = template.find('#template-name').val();
         count = template.find('#template-count').val();
         desc = template.find('#template-desc').val();
         pay_state = template.find('#template-pay_state').val();
         take = template.find('#template-take').val();
         $.post("/change",
                {
                    'id': id,
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                    'action': 'MODIFY',
                    'name': name,
                    'count': count,
                    'pay_state': pay_state,
                    'take': take,
                    'desc': desc
                },
                function(result){
                    $(location).attr('href', '/')
                })
     }

     function modify_button_click(obj) {
         parrent = obj.parentElement.parentElement;
         id = parrent.getAttribute('id');
         name = document.getElementById(id + '-name').innerHTML;
         count = document.getElementById(id + '-count').innerHTML;
         pay_state = document.getElementById(id + '-pay_state').innerHTML;
         take = document.getElementById(id + '-take').innerHTML;
         desc = document.getElementById(id + '-desc').innerHTML;

         template = $('#myModal').clone(true);
         template.attr('id', 'modify_user_template');

         template.find('#template-name').val(name);
         template.find('#template-count').val(count);
         template.find('#template-desc').val(desc);

         if (pay_state == 'yes')
         {
             template.find('#template-pay_state').html('<option value="yes" selected="selected">已付</option><option value="no">未付</option>');
         }
         else
         {
             template.find('#template-pay_state').html('<option value="yes">已付</option><option value="no" selected="selected">未付</option>');
         }

         if (take == 'yes')
         {
             template.find('#template-take').html('<option value="yes" selected="selected">已取</option><option value="no">未取</option>');
         }
         else
         {
             template.find('#template-take').html('<option value="yes">已取</option><option value="no" selected="selected">未取</option>');
         }

         template.modal('show');
         pname = template.find('#template-name').val(name);
         pcount = template.find('#template-count').val(count);
         pdesc = template.find('#template-desc').val(desc);
     }

     function delete_button_click(obj) {
         parrent = obj.parentElement.parentElement;
         id = parrent.getAttribute('id');
         $.post("/change",
                {
                    'id': id,
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                    'action': 'DELETE',
                },
                function(result){
                    $(location).attr('href', '/');
                })
     }

     function recreate_table_body(luser){
         b = document.getElementById('table_body');
         b.innerHTML = "";
         var sum = "";

         for (i=0; i<luser.length ;i++)
         {
             obj = luser[i];
             temptr = document.createElement("tr");
             temptr.setAttribute('id', obj.id);

             username = document.createElement("td");
             username.innerHTML = obj.name;
             username.setAttribute('id', obj.id + '-name');

             count = document.createElement("td");
             count.innerHTML = obj.count;
             count.setAttribute('id', obj.id + '-count');

             pay_state = document.createElement("td");
             pay_state.innerHTML = obj.pay_state;
             pay_state.setAttribute('id', obj.id + '-pay_state');

             take = document.createElement("td");
             take.innerHTML = obj.take;
             take.setAttribute('id', obj.id + '-take');

             desc = document.createElement("td");
             desc.innerHTML = obj.desc;
             desc.setAttribute('id', obj.id + '-desc');

             modify_td = document.createElement("td");
             modify = document.createElement("button");
             modify.setAttribute('type', 'button');
             modify.setAttribute('onclick', 'modify_button_click(this)');
             modify.setAttribute('class', 'btn btn-primary btn-lg');
             modify.innerHTML = '修改';
             modify_td.innerHTML = modify.outerHTML;

             Delete_td = document.createElement("td");
             Delete = document.createElement("button");
             Delete.setAttribute('type', 'button');
             Delete.setAttribute('onclick', 'delete_button_click(this)');
             Delete.setAttribute('class', 'btn btn-primary btn-lg');
             Delete.innerHTML = '删除';
             Delete_td.innerHTML = Delete.outerHTML;

             temptr.appendChild(username);
             temptr.appendChild(count);
             temptr.appendChild(pay_state);
             temptr.appendChild(take);
             temptr.appendChild(desc);
             temptr.appendChild(modify_td);
             temptr.appendChild(Delete_td);

             sum = sum + temptr.outerHTML;
         }
         b.innerHTML = sum;
     }

     function take_change_function(val) {
         if (val == 'all'){
             recreate_table_body(guser);
             return;
         }
         
         var u = [];
         var j = 0;
         for (i = 0;i < guser.length;i++){
             if (guser[i].take == val)
             {
                 u[j] = guser[i];
                 j = j + 1;
             }
         }
         recreate_table_body(u);
     }

     function pay_change_function(val) {
         if (val == 'all'){
             recreate_table_body(guser);
             return;
         }
         
         var u = [];
         var j = 0;
         for (i = 0;i < guser.length;i++){
             if (guser[i].pay_state == val)
             {
                 u[j] = guser[i];
                 j = j + 1;
             }
         }
         recreate_table_body(u);
     }

     function debug(){
         b = document.getElementById('table_body');
         alert(b.innerHTML);
     }
    </script>
</document>
